@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot?#iefix') format("embedded-opentype");
    src: url('../fonts/Vazir.ttf') format("truetype");
    src: url('../fonts/Vazir.woff') format("woff");
    src: url('../fonts/Vazir.woff2') format("woff2");
}

*{
    font-family: Vazir,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}


li {
    list-style-type: none !important;

}
ul{
    padding: 0!important;
}
h1, h2, h3, h4, h5, h6 {
    text-align: justify;
    font-weight: lighter;
    line-height: 2;

}

p {
    margin: 0.5rem 0;
    text-align: justify;
    line-height: 2;
}

a:not(.dropdown-item),button {
    text-decoration: none;
    cursor: pointer;
    line-height: 2;
    background:rgba(148,214,68,0.84);
    padding: 1rem 2rem;
    border-radius: 45px;
    position: relative;
    width: 212px;
    display: inline-block;
    overflow: hidden;
    z-index: 2;
    color: black;
    border: 3px solid white;

}
a:not(.dropdown-item) span,button span{
    display: inline-block;
    position: absolute;
    height: 100%;
    background: rgba(214,88,205,0.84);
    opacity: 0.5;
    left: -23px;
    top: 0;
    transform: skew(35deg);
    z-index: 999;
    width: 0; /*///254*/
    transition: all 290ms linear;
}
a:hover{
    color: black;
}
a:hover span,button:hover span{
    width: 254px;
}
input::placeholder{
    text-align: center;
}
input:focus{
    direction: ltr;
    text-align: center;
}
input{
    text-align: center;
}
.dropdown-toggle{
    width: 15%;
}